.hero{
  
  background-image: url("images/cover.webp");
  background-size: cover;
  background-position: center;


  min-height: 600 px;
  padding: 200px 20px;
}
h1{
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 119px;
  background-color: #DCEBF7;
  width: 450px;
  height: 45px;
  border-radius: 10px;

}
h2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #DCEBF7;
  width: 700px;
  height: 60px;
  border-radius: 10px;

}
.underline{
  text-decoration: underline;
}
body {
  margin: 0;
  text-align: center;
  
}
h3{
  text-align: center;
  margin-top: 0;
  width: 400px;
  height: 20px;
}
.visit{
  margin: 0;
  background: #F1FAEE
}

img {
  width: 200px;
  border-radius: 10px;
}
#activities{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  
}